<!DOCTYPE html>
<html>
<head>
  <title>Password Verification</title>
  <style>
    .hidden {
      display: none;
    }
  </style>
  <script>
    function checkPassword() {
      var password = document.getElementById("password").value;
      var correctPassword = "myPassword123"; // Replace with your desired password

      if (password === correctPassword) {
        document.getElementById("passwordSection").classList.add("hidden");
        document.getElementById("contentSection").classList.remove("hidden");
      } else {
        alert("Incorrect password. Please try again.");
      }
    }
  </script>
</head>
<body>
  
  <section id="passwordSection">
    <h1>Password Verification</h1>
    <label for="password">Enter the password:</label>
    <input type="password" id="password" name="password">
    <button onclick="checkPassword()">Submit</button>
  </section>
  <section id="contentSection" class="hidden">
    <!-- Your content goes here -->
    {%include'sqladmin.html'%}
   </section>
</body>
</html>