<!DOCTYPE html>
<html>
  <head>
    <title>APPLICATION SUBMITTED</title>
    {%include'bootstrap.html'%}
    
  </head>
 <style>
  .gold-text {
   color: yellow;
    
  }
</style>
  <body class="p-3 mb-2 bg-dark text-white">
    {%include 'nav.html'%}
    <div class=container class="p-3 mb-2 bg-info text-dark">{%include'banner.html'%}
      <p>YOUR APPLICATION FOR "{{job['title']}}" IS SUBMITTED</p>
    <div ><h1>APPLICATION INFO</h1></div>
   {%include'sss.html'%}
    {%include'footer.html'%}
    
    
    
  </body>
  
</html>