 <div class="mb-2"><h4 class="gold-text">FULL NAME:</h4> <P>{{application['fullname']}}</P></div>

    <div class="mb-2"><h4 class="gold-text">LINKEDIN URL:</h4><p>{{application['linkedin']}}</p></div>
    <div class=mb-2 ><h4 class="gold-text">EDUCATION:</h4><p>{{application['education']}}</p></div>
    <div class=mb-2><h4 class="gold-text">WORK EXPERIENCE:</h4><p>{{application['experience']}}</p></div>
    <div class=mb-2><h4 class="gold-text">RESUME URL:</h4><p>{{application['resumeurl']}}</p></div>
    </div>